body {
    .dropdown .dropdown-menu,
    .dropdown .dropdown-panel {
        background: #333;
    }

    .dropdown .dropdown-menu LI > A:hover,
    .dropdown .dropdown-menu LABEL:hover {
        background-color: #666;
        color: #eee;
        cursor: pointer;
    }

    .dropdown .dropdown-menu LI > A,
    .dropdown .dropdown-menu LABEL {
        color: #aaa;
    }

    .dropdown.dropdown-tip:before {
      border-bottom-color: #222; /* triangle border color */
    }

    .dropdown.dropdown-tip:after {
      border-bottom: 6px solid #333; /* triangle color */
    }

    .dropdown .dropdown-menu .selected {
        font-weight: bold;
        text-decoration: underline;
    }

    #system-selection-dropdown {
        &.dropdown.dropdown-tip {
            margin-top: 0px;
        }
    }
}