<script id="autom8-View-Devices" type="text/x-handlebars-template">
  <div class="devices">
    <div class="header">
    connected devices
    <div class="crud-action create">add new device...</div>
    </div>
    <div class="content">
      <ul class="list"></ul>
      <div class="content-guard"></div>
    </div>
  </div>
</script>

<script id="autom8-View-DeviceRow" type="text/x-handlebars-template">
  <div class="device-row">
    <div class="device-row-attr"><div class="value name">{{label}}</div></div>
    <div class="device-row-attr"><div class="key">areas:</div> <div class="value">{{groups}}</div></div>
    <div class="device-row-attr"><div class="key">type:</div> <div class="value">{{type}}</div></div>
    <div class="device-row-attr"><div class="key">status:</div> <div class="value">{{status}}</div></div>
    <div class="device-row-attr"><div class="key">address:</div> <div class="value">{{address}}</div></div>
    <div class="crud-action delete">delete</div>
  </div>
</script>

<script id="autom8-View-DeviceRowAddDevice" type="text/x-handlebars-template">
  <div class="device-row add-device">
    <div>add new device...</div>
  </div>
</script>

<script id="autom8-View-EditDevice" type="text/x-handlebars-template">
  <form>
    <input value="name"></input>
    <input value="address"></input>
    <input value="areas"></input>
    <select>
      <option>lamp</option>
      <option>appliance</option>
      <option>security sensor</option>
    </select>
  </form>
</script>