<script id="autom8-View-Devices" type="text/x-handlebars-template">
  <div class="devices">
    <div class="section-header">
    connected devices
    <div class="crud-action add">add new device...</div>
    </div>
    <div class="content">
      <div class="device-row add-device">
        <div class-"text">you don't have any devices configured</div>
        <div class="link">click here to add a new device...</div>
      </div>
      <ul class="list"></ul>
      <div class="content-guard"></div>
    </div>
  </div>
</script>

<script id="autom8-View-DeviceRow" type="text/x-handlebars-template">
  <div class="device-row">
    <div class="device-row-attr"><div class="value name">{{label}}</div></div>
    <div class="device-row-attr"><div class="key">areas:</div> <div class="value">{{groups}}</div></div>
    <div class="device-row-attr"><div class="key">type:</div> <div class="value">{{type}}</div></div>
    <div class="device-row-attr"><div class="key">status:</div> <div class="value">{{status}}</div></div>
    <div class="device-row-attr"><div class="key">address:</div> <div class="value">{{address}}</div></div>
    <div class="crud-actions">
      <span class="crud-action edit">edit</span>
      <span class="crud-action delete">X</span>
    </div>
  </div>
</script>

<script id="autom8-View-EditDeviceRow" type="text/x-handlebars-template">
  <div class="device-row">
    <div class="device-row-attr"><input class="value name" name="label" value="{{label}}"></input></div>
    <div class="device-row-attr"><div class="key">areas:</div> <input class="value groups" name="groups" value="{{groups}}"></input></div>
    <div class="device-row-attr"><div class="key">type:</div>
      <select class="type" name="type">
        {{#select type}}
          <option value="0">lamp</option>
          <option value="1">appliance</option>
          <option value="2">security sensor</option>
        {{/select}}
      </select>
    </div>
    <div class="device-row-attr"><div class="key">address:</div> <input class="value address" name="address" value="{{address}}"></input></div>
    <div class="crud-actions">
      <span class="crud-action save">save</span>
      <span class="crud-action cancel">cancel</span>
    </div>
  </div>
</script>
