<script id="autom8-View-MainView" type="text/x-handlebars-template">
</script>

<script id="autom8-View-ServerInfo" type="text/x-handlebars-template">
  <div class="server-info">
    <div class="header">
      system info
      <div class="connection">&nbsp;</div>
    </div>
    <table>
      <tr>
        <td class="label">version:</td>
        <td class="value">{{version}}</td>
      </tr>
      <tr>
        <td class="label">controller:</td>
        <td class="value">{{controller}}</td>
      </tr>
      <tr>
        <td class="label">fingerprint:</td>
        <td class="value">{{fingerprint}}</td>
      </tr>
      <tr>
        <td class="label">client port:</td>
        <td class="value"><input class="port-input" value="{{port}}"></input></td>
      </tr>
      <tr>
        <td class="label">client password:</td>
        <td class="value"><input class="password-input" value="********"></input></td>
      </tr>
    </table>
  </div>
</script>

<script id="autom8-View-Devices" type="text/x-handlebars-template">
  <div class="devices">
    <div class="header">connected devices</div>
    <ul class="list"></ul>
  </div>
</script>

<script id="autom8-View-DeviceRow" type="text/x-handlebars-template">
  <div class="device-row">
    <div class="device-row-attr"><div class="value name">{{label}}</div></div>
    <div class="device-row-attr"><div class="key">areas:</div> <div class="value">{{groups}}</div></div>
    <div class="device-row-attr"><div class="key">type:</div> <div class="value">{{type}}</div></div>
    <div class="device-row-attr"><div class="key">status:</div> <div class="value">{{status}}</div></div>
    <div class="device-row-attr"><div class="key">address:</div> <div class="value">{{address}}</div></div>
  </div>
</script>

<script id="autom8-View-ButtonRow" type="text/x-handlebars-template">
  <div class="bottom-buttons">
    <div class="header">control</div>
    <div class="button-row">
      <div class="button start">start</div>
      <div class="button stop">stop</div>
    </div>
  </div>
</script>