<script id="autom8-View-ServerInfo" type="text/x-handlebars-template">
  <div class="server-info">
    <div class="header">
      system info
      <div class="connection">&nbsp;</div>
    </div>
    <div class="content">
      <table>
        <tr>
          <td class="label">version:</td>
          <td class="value">{{version}}</td>
        </tr>
        <tr>
          <td class="label">controller:</td>
          <td class="value">{{controller}}</td>
        </tr>
        <tr>
          <td class="label">fingerprint:</td>
          <td class="value">{{fingerprint}}</td>
        </tr>
        <tr>
          <td class="label">client port:</td>
          <td class="value"><input class="port-input" value="{{port}}"></input></td>
        </tr>
        <tr>
          <td class="label">client password:</td>
          <td class="value"><input class="password-input" value="********"></input></td>
        </tr>
      </table>
    </script>
  </div>
</script>