<script id="autom8-View-SystemInfo" type="text/x-handlebars-template">
  <div class="system-info">
    <div class="header">
      system info
      <div class="connection">&nbsp;</div>
    </div>
    <div class="content">
      <div class="content-guard"></div>
    </div>
  </div>
</script>

<script id="autom8-View-SystemInfoTable" type="text/x-handlebars-template">
  <table>
    <tr>
      <td class="label">version:</td>
      <td class="value">{{version}}</td>
    </tr>
    <tr>
      <td class="label">controller:</td>
      <td class="value">
        <div class="select-controller" data-dropdown="#system-selection-dropdown">
          {{controller}} <span class="caret"></span>
        </div>
      </td>
    </tr>
    <tr>
      <td class="label">fingerprint:</td>
      <td class="value">{{fingerprint}}</td>
    </tr>
    <tr>
      <td class="label">client port:</td>
      <td class="value"><input class="port-input" value="{{port}}"></input></td>
    </tr>
    <tr>
      <td class="label">client password:</td>
      <td class="value"><input class="password-input" value="********"></input></td>
    </tr>
  </table>

  <div id="system-selection-dropdown" class="dropdown dropdown-tip"></div>
</script>