<script id="autom8-View-SystemInfo" type="text/x-handlebars-template">
  <div class="system-info">
    <div class="section-header">
      system info
      <div class="connection">&nbsp;</div>
    </div>
    <div class="content">
      <div class="content-guard"></div>
    </div>
  </div>
</script>

<script id="autom8-View-SystemInfoTable" type="text/x-handlebars-template">
  <div class="system-info-table">
    <div class="system-info-attr">
      <div class="label">version:</div>
      <div class="value">{{version}}</div>
    </div>
    <div class="system-info-attr">
      <div class="label">controller:</div>
      <div class="value select-controller" data-dropdown="#system-selection-dropdown">
        <div>
          <span>{{controller}}</span>
          <span class="caret"></span>
        </div>
      </div>
    </div>
    <div class="system-info-attr">
      <div class="label">fingerprint:</div>
      <div class="value">{{fingerprint}}</div>
    </div>
    <div class="system-info-attr">
      <div class="label">client port:</div>
      <div class="value"><input class="port-input" value="{{port}}"></input></div>
    </div>
    <div class="system-info-attr">
      <div class="label">client password:</div>
      <div class="value"><input class="password-input" value="********"></input></div>
    </div>
  </div>

  <div id="system-selection-dropdown" class="dropdown dropdown-relative dropdown-tip"></div>
</script>