html {
  -webkit-user-select: none;
  -moz-user-select: none;
  background-color: #333333;
  -webkit-text-size-adjust: 100%;
}

body {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  font-family: arial;
  margin: 0;
  padding: 0;
  color: #cccccc;
  font-size: 14px;
  cursor: default;
  zoom: 1.18;
}

.label {
  color: #eeeeee;
}

.subtext {
  text-align: left;
  color: #cccccc;
  font-size: 70%;
}

.device-row {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  border-bottom: 1px solid #2a2a2a;
  cursor: pointer;
}

.device-row-info {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-flex: 1;
  -webkit-box-pack: center;
  padding-left: 8px;
}

.device-row.off {
}

.device-row.off.touched {
  background-color: #878787;
}

.device-row.alert {
  background-color: #dd0000;
}

.device-row.alert.touched {
  background-color: #ff0000;
}

.device-row.on {
  background-color: #555555;
}

.device-row.on.touched {
  background-color: #898989;
}

.header-text {
  font-size: 85%;
}

.header-host-text {
  padding: 2px;
  font-weight: bold;
  font-size: 85%;
}

.header {
  background-color: #262626;
  color: #cccccc;
  padding: 8px;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
  border-bottom: 1px solid #1f1f1f;
}

.header-spacer {
  -webkit-box-flex: 1;
}

.error {
  padding: 0px;
}

.error.device-list {
  padding: 8px;
  padding-top: 4px;
}

.sign-in-form .error {
  margin-top: 24px;
}

#error-text {
  padding-bottom: 8px;
}

#loading-row {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  padding: 8px 0px;
}

#loading-text {
  display: inline-block;
}

#loading-spinner {
  width: 26px;
  height: 26px;
  margin-right: 8px;
}

#sign-in-error {
  color: #ff4444;
  padding: 16px 0px;
}

.button {
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  font-weight: bold;
  font-size: 110%;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.button.on {
  background-color: #666666;
  color: #eeeeee;
}

.button.off {
  background-color: #3f3f3f;
  color: #afafaf;
}

.button.alert {
  background-color: #cc0000;
  color: #ffffff;
}

.password {
  -webkit-box-flex: 1;
  margin-left: 8px;
  margin-right: 8px;
}

.password-row {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
}

.sign-in-button.touched,
.header-button.touched {
  background-color: #898989;
}

.sign-in-button,
.header-button {
  text-align: center;
  width: 72px;
  background-color: #555555;
  border: 1px solid #777777;
  padding: 2px;
  cursor: pointer;
  border-radius: 10px;
}

.sign-in-form {
  padding: 8px;
}

.sign-in-form input {
  display: block;
  border: 1px solid #aaaaaa;
  padding: 4px;
  width: 150px;
}

.dialog-overlay {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: center;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.dialog-container {
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  padding: 10px;
  margin-top: 40px;
  max-width: 80%;
  -webkit-box-shadow: 5px 5px 25px black;
}

.dialog-title {
  font-weight: bold;
  font-size: 120%;
  margin-bottom: 8px;
}

.dialog-message {
  margin-bottom: 12px;
}

.dialog-buttons {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: end;
}

.dialog-overlay-blur {
  -webkit-filter: blur(2px);
}

.dialog-button {
  text-align: center;
  background-color: #555555;
  border: 1px solid #777777;
  padding: 2px;
  cursor: pointer;
  border-radius: 10px;
  min-width: 64px;
  margin-left: 8px;
}

.dialog-button.touched {
  background-color: #898989;
}