html {
  background-color: #333333;
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  font-family: arial;
  margin: 0px;
  padding: 0px;
  color: #cccccc;
  font-size: 14px;
  cursor: default;
}

div {
  padding: 0px;
  margin: 0px;
}

table {
  border-collapse: collapse;
  padding: 0px;
  margin: 0px;
  border-style: none;
}

.header {
  background-color: #262626;
  color: #cccccc;
  padding: 4px;
  font-size: 85%;
  vertical-align: middle;
  border-bottom: 1px solid #1f1f1f;
}

.label {
  padding: 8px;
  color: #eeeeee;
  text-align: left;
}

.subtext {
  text-align: left;
  color: #cccccc;
  font-size: 70%;
}

.toggle {
  text-align: center;
  width: 72px;
  margin-left: 4px;
  background-color: #666666;
  display: inline-block;
  cursor: pointer;
}

.deviceList {
  width: 100%;
}

.row {
  cursor: pointer;
}

.row.off {
  border-bottom: 1px solid #2a2a2a;
}

.row.off:hover {
  background-color: #373737;
}

.row.alert {
  border-bottom: 1px solid #2a2a2a;
  background-color: #ee0000;
  cursor: pointer;
}

.row.alert:hover {
  background-color: #f30000;
}

.row.on {
  border-bottom: 1px solid #2a2a2a;
  background-color: #555555;
}

.row.on:hover {
  background-color: #595959;
}

.header-text {
  padding: 2px;
  vertical-align: middle;
  display: table-cell;
  float: left;
}

.header-host-text {
  padding: 2px;
  vertical-align: middle;
  display: table-cell;
  font-weight: bold;
  float: left;
}

.header-button {
  text-align: center;
  width: 72px;
  background-color: #555555;
  border: 1px solid #777777;
  padding: 2px;
  cursor: pointer;
  float: right;
  vertical-align: middle;
  display: table-cell;
  border-radius: 10px;
}

.header-button:hover {
  background-color: #595959;
}

.error {
  padding: 4px;
}

.button {
  text-align: center;
  font-weight: bold;
  font-size: 110%;
  width: 48px;
  height: 48px;
  margin-left: 4px;
  vertical-align: middle;
  display: table-cell;
  cursor: pointer;
}

.button.on {
  background-color: #666666;
  color: #eeeeee;
}

.button.off {
  background-color: #3f3f3f;
  color: #afafaf;
}

.button.alert {
  background-color: #cc0000;
  color: #ffffff;
}

.password {
  -webkit-box-flex: 1;
  margin-left: 8px;
  margin-right: 8px;
}

.password-row {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
}

.sign-in-button {
  text-align: center;
  width: 72px;
  background-color: #555555;
  border: 1px solid #777777;
  padding: 2px;
  cursor: pointer;
  border-radius: 10px;
}

.settings-form,
.sign-in-form {
  padding: 8px;
}

.settings-form input,
.sign-in-form input {
  display: block;
  border: 1px solid #aaaaaa;
  padding: 4px;
  width: 150px;
}
