.vs/
*.o
3rdparty/3rdparty.vcxproj.user
3rdparty/lib/3rdparty.lib
3rdparty/lib/3rdpartyd.lib
3rdparty/obj/
autom8.opensdf
autom8.sdf
autom8.sublime-workspace
autom8.suo
autom8.VC.db
autom8.VC.VC.opendb
autom8_cli/autom8_cli
autom8_cli/autom8_cli.vcxproj.user
autom8_client_android/.idea/
autom8_client_android/.settings
autom8_client_android/bin
autom8_client_android/gen
autom8_client_android/out/
autom8_client_qt/GeneratedFiles/
autom8_client_qt/Release/
autom8_node/autom8_node.sublime-workspace
autom8_node/client/minifier.cache
autom8_node/server/minifier.cache
autom8_node/server/pid
autom8_server_node/node_modules/
autom8_server_qt/GeneratedFiles/
bin/osx/
debug/
ipch/
libautom8.dylib
libautom8.so
libautom8/contrib/cm15a_controller/Debug/
libautom8/contrib/cm15a_controller/Release/
libautom8/contrib/cm15a_controller/cm15a_controller.vcxproj.user
libautom8/src/Debug/
libautom8/src/Release/
libautom8/src/libautom8.vcxproj.user
node_modules
release/
build/
libautom8/libautom8.sdf
libautom8/libautom8.suo
