<script id="autom8-View-LoadingRow" type="text/x-handlebars-template">
  <div class="loading-row-container">
    <div class="loading-row">
      <div class="loading-spinner"></div>
      <div class="loading-text">please wait...</div>
    </div>
  </div>
</script>

<script id="autom8-View-HeaderView" type="text/x-handlebars-template">
  <div class="header">
    <div class="header-controls">
      <div class="header-logo">autom8</div>
      <br/>
      <div class="header-status">
        <div class="header-host-separator"></div>
        <div class="header-host-text" id="hostname">{{hostName}}</div>
      </div>
    </div>
  </div>
</script>

<script id="autom8-View-PasswordRow" type="text/x-handlebars-template">
  <div class="password-row">
    <input placeholder="password" name="password" id="password" class="password" type="password"></input>
  </div>
</script>

<script id="autom8-View-AboutView" type="text/x-handlebars-template">
  <div>
    <div class="section">controlling:</div>
    <div class="hostname">{{host}}</div>
    <div class="sign-out">sign out</div>
  <br/>
  <div class="section">diagnostics:</div>
  <ul>
    <li><span class="diag-key">status</span>: {{status}}</li>
    <li><span class="diag-key">theme</span>: {{theme}}</li>
    <li><span class="diag-key">version</span>: {{version}}</li>
  </ul>
</script>
