<script id="autom8-View-DevicesView" type="text/x-handlebars-template">
  <div class="device-home-viewport">
    <div class="device-home-container"></div>
  </div>
</script>

<script id="autom8-View-DeviceRow" type="text/x-handlebars-template">
  <div class="left">
    <div class="{{buttonClass}}">
      <div class="button-text">
        {{buttonText}}
      </div>
    </div>
  </div>
  <div class="middle">
    <div class="device-row-info-outer">
      <div class="device-row-info">
        <div class="label">{{text}}</div>
        <div class="subtext {{subtextClass}}">{{subtext}}</div>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="extras">
      <div class="extras-button">...</div>
    </div>
  </div>
</script>

<script id="autom8-View-GroupRow" type="text/x-handlebars-template">
  <div class="device-row group off {{rowClass}}">
    <div class="left">
      <div class="button {{buttonClass}}">
        <div class="button-text">
          <div>{{buttonText}}</div>
          <div class="button-subtext {{subtextClass}}">{{buttonSubtext}}</div>
        </div>
      </div>
    </div>
    <div class="middle">
      <div class="device-row-info-outer">
        <div class="device-row-info">
          <div class="label">{{text}}</div>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="expander">
        <div class="expander-button">{{expander}}</div>
      </div>
    </div>
  </div>
</script>

<script id="autom8-View-LampBrightness" type="text/x-handlebars-template">
  <div class="brightness-row">
    <div class="brightness-button twenty" data-value="20"></div>
    <div class="brightness-button forty" data-value="40"></div>
    <div class="brightness-button sixty" data-value="60"></div>
    <div class="brightness-button eighty" data-value="80"></div>
    <div class="brightness-button hundred" data-value="100"></div>
  </div>
</script>
