<script id="autom8-Dialog" type="text/x-handlebars-template">
  <div class="dialog-overlay left">
    <div class="dialog-container">
      <div class="dialog-title">{{title}}</div>
      <div class="dialog-message">{{message}}</div>
      <div class="dialog-custom-view"></div>
      <div class="dialog-buttons"></div>
    </div>
  </div>
</script>

<script id="autom8-Dialog-Button" type="text/x-handlebars-template">
  <div class="dialog-button" data-id="{{id}}">{{caption}}</div>
</script>