@import "dimens.less";
@import "mixins.less";

.device-home-viewport {
    overflow: hidden;

    .device-home-container {
        position: relative;
        margin: 0;
        padding: 0;
        width: 200%;

        .panel {
            top: 0;
            margin: 0;
            padding: 0;
            min-width: 50%;
            max-width: 50%;
            float: left;
        }

        .panel.inactive {
            display: none;
        }

        &.left {
            .transform(translate3d(-50%, 0, 0));
        }
    }
}
