@-webkit-keyframes rightToLeft {
    0%   {margin-right: 100%;}
    100%  {margin-right: 0;}
}​

@-webkit-keyframes leftToRight {
    0%   {margin-right: 0;}
    100%  {margin-right: 100%;}
}​