@-webkit-keyframes right-to-left {
    0% {margin-right: 0;}
    100% {margin-right: 100%;}
}​

.dummy { /* some browsers need a dummy class between the keyframes */ }

@-webkit-keyframes left-to-right {
    0% {margin-right: 100;}
    100% {margin-right: 0;}
}​


