@import "dimens.less";
@import "mixins.less";

@backgroundColor: #333;
@textColor: #ccc;
@textSize: 15px;

html {
    height: 100%;
    width: 100%;
    .disable-user-select();
    background-color: @backgroundColor;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: arial;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: @textColor;
    font-size: @textSize;
    cursor: default;
}

#main-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: @headerHeight;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#top-level-overlay {
    #spinner-view {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: @headerHeight;
    }
}

.gone {
    display: none;
}
