@import "mixins.less";

@backgroundColor: #333;
@textColor: #ccc;
@textSize: 15px;

html {
    height: 100%;
    width: 100%;
    .disable-user-select();
    background-color: @backgroundColor;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: arial;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: @textColor;
    font-size: @textSize;
    cursor: default;
}

.panel {
    top: 0;
    margin-left: 0;
    min-width: 100%;
    display: none;
    position: absolute;
}

.panel.active,
.panel.animating {
    display: inline-block;
}

.panel.animating.right {
    margin-left: 100%;
}

.gone {
    display: none;
}
