@import "dimens.less";
@import "mixins.less";

.switch-devices-view {
    padding: 0 @switcherPadding;
    font-size: 90%;
    text-shadow: 1px 1px 4px #333;
    border-bottom: 1px solid #1f1f1f;
    background-color: #444;
    overflow: hidden;
}

.switch-devices-view.touched {
    background-color: #3a3a3a;
}

.switch-label {
    display: inline-block;
    line-height: @switcherHeight;
}
