@import "../../../shared/css/mixins.less";

@consoleYOffset: 46px;

#application .main-content-right .header {
    .box-shadow(0px, 0px, 12px, #111);
}

.main-content-right {
    background-color: #181818;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    right: 0;
    max-width: 840px;
    .box-shadow(0px, 0px, 64px, #111);

    .console-container {
        padding-top: 0px;
        position: absolute;
        left: 0;
        right: 10px;
        top: @consoleYOffset;
        bottom: 16px;
        overflow-y: auto;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
        font-family: "Courier New", Courier, monospace;
        font-size: 80%;

        .console {
            .log-entry {
                display: block;
                padding: 6px 16px;

                &.even {
                    background-color: #141414;
                }

                .timestamp {
                    font-size: 75%;
                }

                span {
                    padding-right: 4px;
                    line-height: 14px;
                }
            }
        }
    }
}

.chrome .console-container {
    right: 8px;
}