@import "../../../shared/css/mixins.less";
@import "../../../shared/css/buttons.less";

/* monokai colors: http://eclipsecolorthemes.org/?view=theme&id=52 */
.color-white { color: #F8F8F2; }
.color-black { color: #272822; }
.color-gray { color: #757575; }
.color-blue { color: #1E90FF; }
.color-cyan { color: #BED6FF; }
.color-green { color: #D9E577; }
.color-magenta { color: #D197D9; }
.color-red { color: #D25252; }
.color-yellow { color: #EFB571; }
.background-color-white { background-color: #F8F8F2; }
.background-color-black { background-color: #272822; }
.background-color-gray { background-color: #757575; }
.background-color-blue { background-color: #1E90FF; }
.background-color-cyan { background-color: #BED6FF; }
.background-color-green { background-color: #7FB347; } /* different than .color-green */
.background-color-magenta { background-color: #D197D9; }
.background-color-red { background-color: #D25252; }
.background-color-yellow { background-color: #EFB571; }

#application {
    .header {
        background-color: #333;
        padding: 8px;
        margin-bottom: 8px;
        line-height: 16px;
        border-radius: 5px;
        .box-shadow(0px, 0px, 12px, #444);
    }

    .content {
        position: relative;
        -webkit-transition: opacity 0.25s ease-out;
    }

    .content.disabled {
        opacity: 0.5;
    }

    .disabled .content-guard {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
}

.main-content-left {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    min-height: 100%;
    max-width: 640px;
    width: 75%;
    background-color: #555;
    .box-shadow(0px, 0px, 64px, #111);
}

.main-content-right {
    position: fixed;
    right: 0px;
    left: 660px;
    top: 0;
    bottom: 60px;
    -webkit-transition: -webkit-transform 0.35s ease-out;
}

.connection {
    background-color: #D25252;
    position: static;
    display: inline-block;
    margin-left: 8px;
    width: 13px;
    height: 13px;
    border: 1px solid #222;
    float: right;
    -webkit-transition: background-color 0.55s ease-in-out;
}

.connection.connected {
    background-color: #7FB347;
}

.dialogs, .dialog-overlay {
    max-width: 642px;
    width: 100%;
    right: auto;
}

input, select {
    outline-width: 0;
    border: 1px solid #aaa;
    background-color: #fff;
    height: 24px;
    width: 96px;
    .box-sizing(border-box);
    border-radius: 8px;
    padding-left: 6px;
}

@media only screen and (max-width: 860px) {
    .main-content-right {
        // display: none;
        -webkit-transform: translateY(-110%);
    }

    .main-content-left {
        position: absolute;
        max-width: 640px;
        width: 100%;
        left: 0;
        right: 0;
        top: 0;
    }
}

@media only screen and (min-width: 1400px) {
    .main-content-right {

    }
}