@import "../../../shared/css/mixins.less";
@import "../../../shared/css/buttons.less";

body {
}

.main-content-left {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    max-width: 640px;
    width: 75%;
    background-color: #555;
    .box-shadow(0px, 0px, 64px, #111);
}

.top-table {
    padding: 10px;

    td {
        padding: 8px 2px;
    }

    td:first-child {
        padding-top: 0px;
    }

    td.label {
        text-align: right;
    }

    td.value {
        font-weight: bold;
    }

    input {
        outline-width: 0;
        padding: 2px;
        border: 1px solid #aaaaaa;
        height: 24px;
        .box-sizing(border-box);
        border-radius: 8px;
        padding-left: 6px;
    }
}

.button-row {
    text-align: center;

    .button {
        .button-style-4();
        background-color: #333;
        width: 40%;
    }

    .button.touched {
        .button-style-2-touched();
        background-color: #444;
    }
}