@import "../../../shared/css/mixins.less";
@import "../../../shared/css/buttons.less";

body {
    // background-color: #555;
}

.main-content-left {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    max-width: 640px;
    width: 75%;
    background-color: #555;
    .box-shadow(0px, 0px, 64px, #111);

    .header {
        background-color: #333;
        padding: 8px;
        margin-bottom: 8px;
        line-height: 16px;
    }
}

.main-content-right {
    position: fixed;
    right: 0px;
    width: 400px;
    top: 0;
    bottom: 60px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #111;
    border-bottom-left-radius: 10px;
    .box-shadow(0px, 0px, 64px, #111);
    direction:rtl;  /* Right To Left */
    text-align:left; /* Override direction */

    .console {
        padding: 16px;

        .log-entry {
            padding-bottom: 6px;
            display: inline-block;
        }
    }
}

.connection {
    background-color: green;
    position: static;
    display: inline-block;
    margin-left: 8px;
    width: 13px;
    height: 13px;
    border: 1px solid #222;
    float: right;
}

.server-info {
    padding: 10px;

    td {
        padding: 8px 2px;
    }

    td:first-child {
        padding-top: 0px;
    }

    td.label {
        text-align: right;
        padding-right: 8px;
    }

    td.value {
        font-weight: bold;
    }

    input {
        outline-width: 0;
        padding: 2px;
        border: 1px solid #aaaaaa;
        height: 24px;
        width: 96px;
        .box-sizing(border-box);
        border-radius: 8px;
        padding-left: 6px;
    }
}

.devices {
    padding: 0 8px;
    padding-bottom: 10px;

    ul {
    }

    ul li {
        padding-bottom: 8px;
        line-height: 1.1em;
    }

    li {
        display: inline-block;
        width: 50%;
    }

    .device-row:hover {
        background-color: #777;
        .box-shadow(0px, 0px, 12px, #444);
    }

    .device-row {
        padding: 6px;
        padding-left: 0;
        background-color: #666;
        margin-left: 8px;
        font-size: 110%;
        line-height: 110%;

        .device-row-attr {
            position: relative;
        }

        .key, .value {
            display: inline-block;
        }

        .value {
            position: absolute;
            left: 70px;
            right: 0px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .value.name {
            font-size: 110%;
            text-decoration: underline;
            padding-bottom: 6px;
            padding-left: 8px;
            color: #eee;
            position: static;
        }

        .key {
            font-size: 70%;
            width: 60px;
            text-align: right;
            padding-right: 4px;
            font-weight: bold;
        }
    }
}

.bottom-buttons {
    padding: 0 8px;
    padding-bottom: 10px;

    .button-row {
        text-align: center;
    }

    .button {
        .button-style-4();
        background-color: #333;
        padding: 8px 24px;
    }

    .button:hover {
        background-color: #444;
    }

    .button.touched {
        .button-style-2-touched();
        background-color: #555;
    }

    .button.stop {
        margin-left: 8px;
    }

    .button.disabled {
        opacity: 0.2;
    }
}