@import "../../../shared/css/mixins.less";
@import "../../../shared/css/buttons.less";

#application .system-info {
    padding: 10px;

    .content {
        overflow: hidden;
    }

    .section-header {
        margin-bottom: 0;
    }

    .system-info-table {
        margin-left: 10px;
    }

    .system-info-attr {
        display: block;
        line-height: 32px;
        white-space: nowrap;
        overflow: hidden;

        .label {
            display: inline-block;
            text-align: right;
            width: 84px;
        }

        .value {
            display: inline-block;
            font-weight: bold;
            position: absolute;
            left: 100px;
            right: 0;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        input {
            border: none;
            padding: 0 7px;
            border-radius: 10px;
            height: 19px;
        }
    }

    .content.disabled input {
        background-color: #777;
        color: #ccc;
    }

    .select-controller {
        cursor: pointer;

        .caret {
            display: inline-block;
            width: 0;
            height: 0;
            margin-top: 14px;
            vertical-align: top;
            border-top: 4px solid #eee;
            border-right: 4px solid transparent;
            border-left: 4px solid transparent;
            content: "";
        }

        &:hover {
            color: #999;

            .caret {
                border-top: 4px solid #999;
            }
        }
    }
}