@import "../../../shared/css/mixins.less";
@import "../../../shared/css/buttons.less";

.system-info {
    padding: 10px;

    .content {
        overflow: hidden;
    }

    table {
        margin-left: 10px;
    }

    td {
        padding: 8px 2px;
    }

    td:first-child {
        padding-top: 0px;
    }

    td.label {
        text-align: right;
        padding-right: 8px;
    }

    td.value {
        font-weight: bold;
    }

    .content.disabled input {
        background-color: #777;
        color: #ccc;
    }

    .dropdown .dropdown-menu .selected {
        font-weight: bold;
    }

    .select-controller {
        cursor: pointer;

        .caret {
            display: inline-block;
            width: 0;
            height: 0;
            margin-top: 6px;
            vertical-align: top;
            border-top: 4px solid #eee;
            border-right: 4px solid transparent;
            border-left: 4px solid transparent;
            content: "";
        }

        &:hover {
            color: #999;

            .caret {
                border-top: 4px solid #999;
            }
        }
    }
}
