<script id="autom8-View-DevicesView" type="text/x-handlebars-template">
  <div class="devices"></div>
</script>

<script id="autom8-View-DeviceRow" type="text/x-handlebars-template">
  <div class="{{rowClass}}">
    <div class="{{buttonClass}}">{{buttonText}}</div>
    <div class="device-row-info">
      <div class="label">{{text}}</div>
      <div class="subtext">{{subtext}}</div>
    </div>
  </div>
</script>

<script id="autom8-View-GroupRow" type="text/x-handlebars-template">
  <div class="device-row group off {{rowClass}}">
    <div class="button {{buttonClass}}">
      <div>{{buttonText}}</div>
      <div class="button-subtext">{{buttonSubtext}}</div>
    </div>
    <div class="device-row-info">
      <div class="label">{{text}}</div>
    </div>
    <div class="expander">
      <div class="expander-button">{{expander}}</div>
    </div>
  </div>
</script>